<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos - Categoría <%= idCategoria %></title>
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body>
    <h1>Lista de Productos - Categoría <%= idCategoria %></h1>

    <div class="productos">
        <% if (productos.length > 0) { %>
            <% productos.forEach(function(producto) { %>
                <div>
                    <img src="<%= producto.imagen_producto %>" alt="<%= producto.Nombre_Producto %>">
                    <p><%= producto.Nombre_Producto %></p>
                    <p>Desde: $<%= producto.Precio_Minimo %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No se encontraron productos.</p>
        <% } %>
    </div>
</body>
</html>
